
@import "tailwindcss";

@theme {
  --animate-float: float 8s ease-in-out infinite;
  --animate-blob: blob 15s infinite;
}
.scrollbar-thin-black::-webkit-scrollbar {
  width: 4px; /* Makes the scrollbar thin in Y axis */
}

.scrollbar-thin-black::-webkit-scrollbar-track {
  background: transparent; 
}

.scrollbar-thin-black::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 2px;
}

@keyframes float {
  0%,100% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-12px);
  }
  50% {
    transform: translateY(-24px);
  }
  75% {
    transform: translateY(-8px);
  }
}

@keyframes blob {
  0% {
    transform: translate(0,0) scale(1);
  }
  33% {
    transform: translate(50px,-30px) scale(1.1);
  }
  66% {
    transform: translate(-30px,30px) scale(0.9);
  }
  100% {
    transform: translate(0,0) scale(1);
  }
}